@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
}

body {
    background-color: #d4e1e8;
}
div {
    overflow: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 100px;
    background-color: #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.pfp {
    transition: 1s;
}
.pfp:hover {
    transform: rotate(-720deg);
}
.navbar a{
    position: relative;
    font-size: 20px;
    color: #dbdbdb;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 600;
    transition: .3s;
}
.navbar a:hover {
    color: white;
    transition: .3s;
}
.content {
    padding: 20px;
    width: 200vh;
    display: table-cell;
    height: 100vh;
    text-align: center;
    padding-top: 45vh;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both; /* 애니메이션이 끝난 후 상태 유지 */
    -webkit-animation-name: fadein; /* Safari and Chrome */
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: fadein; /* Firefox */
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    -moz-animation-fill-mode: both;
    -o-animation-name: fadein; /* Opera */
    -o-animation-duration: 1s;
    -o-animation-delay: 0.5s;
    -o-animation-fill-mode: both;
}
.content h2 {
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both; /* 애니메이션이 끝난 후 상태 유지 */
    -webkit-animation-name: fadein; /* Safari and Chrome */
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: fadein; /* Firefox */
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: both;
    -o-animation-name: fadein; /* Opera */
    -o-animation-duration: 1s;
    -o-animation-delay: 1s;
    -o-animation-fill-mode: both;
}
.texts {
    display:inline-block;
    width: 100%;
    padding-top: 40vh;
    padding-bottom: 30vh;
    text-align: center;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both; /* 애니메이션이 끝난 후 상태 유지 */
    -webkit-animation-name: fadein; /* Safari and Chrome */
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: fadein; /* Firefox */
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    -moz-animation-fill-mode: both;
    -o-animation-name: fadein; /* Opera */
    -o-animation-duration: 1s;
    -o-animation-delay: 0.5s;
    -o-animation-fill-mode: both;
}
.texts button.discord {
    outline: none;
    outline-width: 2px;
    background-color: #5865F2;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s ease-out;
    border-radius: 64px;
}
.texts button.discord:hover {
    background-color: #8891f2;
}
.texts button.discord:active {
    background-color: #3442d9;
}
.texts button.github {
    outline: none;
    outline-width: 2px;
    background-color: #24292e;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s ease-out;
    border-radius: 64px;
}
.texts button.github:hover {
    background-color: #434c54;
}
.texts button.github:active {
    background-color: #111315;
}
.texts button.solvedac {
    outline: none;
    outline-width: 2px;
    background-color: #8abb4d;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s ease-out;
    border-radius: 64px;
}
.texts button.solvedac:hover {
    background-color: #1bdf8b;
}
.texts button.solvedac:active {
    background-color: #15b26f;
}
.texts button.steam {
    outline: none;
    outline-width: 2px;
    background-color: #1b2838;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s ease-out;
    border-radius: 64px;
}
.texts button.steam:hover {
    background-color: #2a475e;
}
.texts button.steam:active {
    background-color: #171a21;
}
.texts button.works {
    outline: none;
    outline-width: 2px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s ease-out;
    border-radius: 64px;
}
.texts button.works:hover {
    background-color: #55CF61;
}
.texts button.works:active {
    background-color: #229C2E;
}
h1 {
    font-size: 50px;
    color: #4CAF50;
}
h2 {
    font-weight: 400;
}
hr {
    border: 0;
    width: 30%;
    margin: 0 auto;
    display: block;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);

}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.1s ease-out;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
}
button:hover {
    background-color: #45a049;
}
button:active {
    transform: scale(0.95);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}